@model IEnumerable<RestaurantOnlineBookingApp.Web.ViewModels.Restaurant.RestaurantAllViewModel>

<h2>Favorites Restaurants</h2>
@* fixed sizes for all images*@
<style>
    .card-img-top {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center;
    }
</style>

@if (Model.Any())
{
    <div class="row">
        @foreach (var restaurant in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <!-- Display restaurant image -->
                    <img class="card-img-top" src="@restaurant.ImageUrl" alt="Restaurant Image">
                    <!-- Display restaurant details -->
                    <div class="card-body">
                        <h5 class="card-title">@restaurant.Name</h5>
                        <p class="card-text">Description: @restaurant.Description</p>
                        <!-- Button to navigate to restaurant details -->
                        <a href="@Url.Action("Details", "Restaurant", new { id = restaurant.Id })" class="btn btn-primary">Restaurant Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <h3>No favorite restaurants found.</h3>
}