@using Microsoft.AspNetCore.Identity
@using RestaurantOnlineBooking.Services.Data.Interfaces
@using RestaurantOnlineBookingApp.Data.Models
@using System.Security.Claims
@using RestaurantOnlineBookingApp.Infrastructure.Extensions

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject IOwnerService OwnerService
@inject IUserService UserService
@{
    bool isUserOwner = await OwnerService.OwnerExistByIdAsync(this.User.GetId()!);
    string userFullName = await UserService.GetFullNameByEmailAsync(User.Identity?.Name!);
}
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @userFullName</a>
        </li>
        if (!isUserOwner)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Owner" asp-action="Join">List your restaurant</a>
            </li>
        }       
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Login">Login</a>
        </li>
    }
</ul>
