@using RestaurantOnlineBookingApp.Web.ViewModels.Review
@model ReviewViewModel

@{
    ViewData["Title"] = "Restaurant Reviews";
}

<div class="form-group col-md-5">
    <label asp-for="SortBy" class="form-check-label">Sort by:</label>
    <select asp-for="SortBy" class="form-control" onchange="sortReviews()">
        <option value="RatingAscending">Rating Ascending</option>
        <option value="RatingDescending">Rating Descending</option>
        <option value="DateNewest">Date Newest</option>
        <option value="DateOldest">Date Oldest</option>
    </select>
</div>

<div class="row">
    @foreach (var review in Model.Reviews)
    {
        <div class="col-md-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Rating: @review.ReviewRating</h5>
                    <p class="card-text">@review.Comment</p>
                    <p class="card-text">Guest Email: @review.GuestEmail</p>
                </div>
            </div>
        </div>
    }
</div>

@if (!Model.Reviews.Any())
{
    <h2>No reviews available.</h2>
}

<script>
    function sortReviews() {
        var sortBy = document.getElementById("SortBy").value;
        var restaurantId = "@ViewBag.RestaurantId";
        window.location.href = "/Review/SortReviews?restaurantId=" + restaurantId + "&sortBy=" + sortBy;
    }
</script>